$box1-bg: #fff000;
$box2-bg: #00ff7f;
$box3-bg: #3bb9ff;
$box4-bg: #d84c00;
$box5-bg: #ffce3d;
$box6-bg: #298487;
$box7-bg: #fc9c3a;
$box8-bg: #224f41;
$box9-bg: #c8a2c8;
$pureblack: #000;
$thiscolor: #4e4e4e;

$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

.main {
  background-color: $pureblack;
  border: $pureblack 2px;
}
