$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import 'game';


div {
  border: 000 1px;
}

.box-1 {
  background-color: $box1-bg;
}

.box-2 {
  background-color: $box2-bg;
}

.box-3 {
  background-color: $box3-bg;
}

.box-4 {
  background-color: $box4-bg;
}

.box-5 {
  background-color: $box5-bg;
}

.box-6 {
  background-color: $box6-bg;
}

.box-7 {
  background-color: $box7-bg;
}

.box-8 {
  background-color: $box8-bg;
}

.box-9 {
  background-color: $box9-bg;
}
