$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
$lavender: #e6e6fa;

.main {
  height: 639px;
  margin: 17% auto;
  overflow: hidden;
  right: 52%;
  text-align: center;
  width: 639px;
}

.off-clicks {
  pointer-events: none;
}

.on-clicks {
  pointer-events: auto;
}

.space {
  background-color: $lavender;
  float: left;
  height: 175px;
  margin: 15px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-top: 18px;
  width: 175px;
}

h1 {
  font-size: 20px;
}
